* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

main {
  background-color: #282d35;
  color: white;
}

header {
  background-color: #21222a;
  color: #61dafb;
  width: 550px;
  height: 91px;
  font-weight: 700;
  font-size: 22.25px;
  font-family: 'Inter', serif;
  align-items: center;
  display: flex;
  padding: 0 26px;
}

header img {
  width: 28px;
}

nav {
  display: flex;
  align-items: center;
}
